//sticky header css
.is-sticky {
  position: fixed;
  // transition: 0.7s;
  background-color: #e5e5e5a9 !important;
  background-image: none !important;
  backdrop-filter: blur(13px);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
a {
  text-decoration: none;
  color: inherit;
}
.headfoot_wrapper {
  width: 100%;
  height: 100%;

  .headfoot_header {
    width: 100%;
    border-bottom: 1px solid rgb(224, 219, 219);
    // background-color: red;
    height: fit-content;
    // box-shadow: 0px 0px 4px rgb(55, 55, 58);
    display: grid;
    gap: 2%;
    grid-template-columns: 1fr 1.2fr 1fr;
    padding: 1rem;
    background-image: url("../../../public/images/Rectangle 2860.png");
    mask-image: radial-gradient(circle, black 100%, rgba(0, 0, 0, 0.5) 50%);
    z-index: 900;
    .image {
      width: 50%;
      height: 40px;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .location {
      display: none;
    }
    .nav_bar {
      display: none;
    }

    .search {
      position: relative;
      display: flex;
      align-items: center;
      input {
        width: 100%;
        border-radius: 6px;
        border: 0.2px solid rgb(200, 200, 201);
        // box-shadow: 0px 0px 3px var(--clr-border-shadow);

        padding: 0.5rem 20% 0.5rem 10%;
        margin: auto;
        height: 100%;
        background-color: transparent;
        outline: none;
        font-size: 0.9rem;
        letter-spacing: 1.2px;
      }
      .icon {
        position: absolute;
        left: 2%;
      }
      .camera {
        position: absolute;
        right: 12%;
      }
      .mike {
        position: absolute;
        right: 3%;
      }
    }
    .cart_alert_login {
      // border: 2px solid red;
      // background-color: white;
      display: flex;
      justify-content: space-around;

      .cart_alert {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        img {
          width: 25px;
          height: auto;
        }
      }
      .reg_login {
        // border: 2px solid blue;
        display: flex;
        gap: 1rem;
        a {
          display: flex;
          // border: 2px solid red;
          padding: 0;
          button {
            background-color: var(--clr-secondary);
            border-radius: 4px;
            border: none;
            color: white;
            padding: 0.2rem 1rem;
            box-shadow: 2px 2px 4px var(--clr-border-shadow);
            height: 100%;
            cursor: pointer;
            transition: 0.6s;
          }
          button:hover {
            background-color: var(--clr-white);
            color: var(--clr-secondary);
          }
          .login {
            background-color: transparent;
            padding: 0.2rem 1rem;
            color: var(--clr-secondary);
            border-left: 1px solid var(--clr-secondary);
            height: 100%;
            // border: 2px solid red;
            text-align: center;
          }
        }
      }
    }
  }
  .header_bottom {
    width: 80%;
    margin: auto;
    height: fit-content;
    display: flex;
    justify-content: right;
    z-index: 30;
    ul {
      display: flex;
      list-style: none;
      gap: 2rem;
      li {
        // border: 2px solid red;
        padding: 0.8rem 0;
      }
    }
    .active {
      border-bottom: 2px solid var(--clr-secondary);
      font-weight: 600;
      box-shadow: 0 -12px 1px #acabab42 inset;
      // box-shadow: 0 0 8px #948e8ea6 inset;
    }
  }

  footer {
    width: 100%;
    height: fit-content;
    padding-bottom: 2rem;
    .footer_head {
      padding: 0 5rem;
      border-bottom: 1px solid var(--clr-border-shadow);
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: var(--clr-dirty-white-text);
        // color: var();
      }
      .image {
        width: 8%;
        height: inherit;
        img {
          width: 100%;
          height: auto;
        }
      }
      .socials {
        display: flex;
        gap: 0.5rem;
      }
    }
    .home_service_features {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: auto;
      width: 90%;
      gap: 1rem;
      ul {
        // border: 2px solid red;
        list-style: none;
        text-align: left;
        li {
          line-height: 2rem;
          // background-color: red;
          color: var(--clr-dirty-white-text);
        }
      }
    }
    span {
      color: var(--clr-dirty-white-text);
    }
  }
}

@media (max-width: 900px) {
  .headfoot_wrapper {
    .headfoot_header {
      width: 100%;
      // border: 2px solid red;
      box-shadow: none;
      height: fit-content;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      padding: 1rem;
      flex-wrap: wrap;
      .location {
        display: block;
      }
      .image {
        margin-top: -10px;
      }
      .nav_bar {
        display: block;
      }
      .search {
        width: 100%;
        input {
          width: 100%;
          padding: 0.8rem 20% 0.8rem 10%;
          background-color: var(--clr-white);
          box-shadow: 0px 0px 3px var(--clr-border-shadow);
          border: none;
        }
        // .icon {
        //   position: absolute;
        //   left: 2%;
        // }
        .camera {
          position: absolute;
          right: 12%;
        }
        .mike {
          position: absolute;
          right: 3%;
        }
      }
      .cart_alert_login {
        // border: 2px solid red;
        display: none;
        justify-content: space-around;
      }

      .cart_alert {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        img {
          width: 25px;
          height: auto;
        }
      }
      .reg_login {
        // border: 2px solid blue;
        display: flex;
        gap: 1rem;
        button {
          background-color: var(--clr-secondary);
          border-radius: 4px;
          border: none;
          color: white;
          padding: 0.2rem 1rem;
          box-shadow: 2px 2px 4px var(--clr-border-shadow);
        }
        .login {
          background-color: transparent;
          padding: 0.2rem 1rem;
          color: var(--clr-secondary);
          border-left: 1px solid var(--clr-secondary);
        }
      }
    }
    .header_bottom {
      display: none;
    }
    .footer {
      .footer_head {
        padding:0;
        justify-content: center;
        gap: .3rem;
        flex-direction: column;
          position: relative;

        p {
          color: var(--clr-dirty-white-text);
          font-size: 0.9rem;
          position: absolute;
          bottom: 5px;
        }
        .image {
          width: 10%;
        }
        .socials{
          margin-bottom: 2rem;
          gap: 1.3rem;

        }
      }
      .home_service_features {
        padding: 1rem 0.5rem;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        width: 90%;
        gap: 1rem;
        ul {
        // border: 2px solid red;

          li {
            line-height: 1.3rem;
            font-size: 0.8rem;
          }
        }
      }
      span{
            font-size: 0.6rem;

      }
    }
  }
}
