
.review_wrapper {
  width: 100%; /* Change width to 100% to make it full width */
  max-width: 35rem; /* Add max-width to limit the width on larger screens */
  margin: auto;
  position: relative;

  .reviewer {
    display: flex;
    flex-wrap: wrap; /* Add flex-wrap to allow the items to wrap to the next line on smaller screens */
    gap: 1.5rem;
    margin-bottom: 2rem;

    .username_date {
      text-align: left;
      margin-top: 1rem;

      .date {
        color: var(--clr-dirty-white-text);
        font-size: 0.8rem;
      }
    }

    .ratings {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* Add styles for screens larger than 768px */
    .reviewer {
      flex-wrap: nowrap;
    }
  }
}
